:root {
  --primary: #D20031;
  --white: #ffffff;
  --javascript: #D7F230;
  --react: #27C93F;
  --java: #F27630;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
  body {
    width: 100%;
    background-image: url('./assets/transparent-2.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
  }